*{
  box-sizing: border-box;
  font-family: 'Inter';
}

body{
  margin: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
  background-color: #21222A;
}

.nav-header{
  display: flex;
  align-items: center;
}

.logo{
  width: 70px;

}

.logo-text{
  font-weight: 700;
  font-size: 22.25px;
  margin: 0;
  color: #61DAFB;
}

.nav-text{
  font-weight: 600;
  color: white;
}

main{
  background-color: #282D35;
  height: calc(100vh - 106px);
  padding: 57px 27px;
  background-image: url('./images/logo-back.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.main__title{
  font-size: 39px;
  margin-top: 0;
  margin-bottom: 46px;
  color: white;
}

.main__list{
  max-width: 400px;
}

.main__list-item{
  color: white;
  padding-block: 10px;
}

.main__list-item::marker{
  color: #61DAFB;
  font-size: 1.7rem;
}