*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Karla';
}

nav{
  background-image: linear-gradient(to right, #672280, #A626D3);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__logo-icon{
  width: 40px;
}

.nav__logo-text{
  font-weight: 700;
  font-size: 25px;
  letter-spacing: -0.1em;
  color: white;
}

.nav__text{
  font-weight: 500;
  font-size: 18px;
  color: white;
}

@media (max-width: 512px) {
  .nav__logo{
    gap: 5px;
  }
  
  .nav__logo-icon{
    width: 30px;
  }
  
  .nav__logo-text{
    font-size: 20px;
  }
  
  .nav__text{
    font-size: 12px;
  }
}

.meme{
  padding: 0 36px;
  max-width: 800px;
  margin: auto;
}

.meme__form{
  margin: 36px 0;
}

.meme__inputs-cont{
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 15px;
}

.meme__input{
  width: 50%;
  border: 1px solid #D5D4D8;
  outline: none;
}

.meme__submit{
  width: 100%;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 0;
  font-weight: 700;
}

.meme__submit-icon{
  width: 20px;
}

.meme__input, .meme__submit{
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
}

.meme__img img{
  width: 100%;
}

.meme__img{
  position: relative;
}

.meme__text{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 60px;
  font-weight: bolder;
  color: white;
  text-shadow:
    -2px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.meme__text--top{
  top: 20px;
}

.meme__text--bottom{
  bottom: 20px;
}

@media (max-width: 512px) {
  .meme__input, .meme__submit{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
  .meme__text{
    font-size: 30px;
  }
}