*{
  box-sizing: border-box;
  font-family: 'Inter';
}

body{
  margin: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
}

.nav.dark {
  background-color: #21222A;
}

.nav-header{
  display: flex;
  align-items: center;
}

.logo{
  width: 70px;

}

.logo-text{
  font-weight: 700;
  font-size: 22.25px;
  margin: 0;
  color: #61DAFB;
}

.nav-text{
  font-weight: 600;
  color: white;
}

main{
  background-color: #fff;
  height: calc(100vh - 106px);
  padding: 57px 27px;
  background-image: url('./images/react-back-light.png');
  background-repeat: no-repeat;
  background-position: right center;
  color: #2B283A;
}

main.dark {
  background-image: url("./images/react-back-dark.png"); 
  background-color: #282D35;
  color: white;    
}

.main__title{
  font-size: 39px;
  margin-top: 0;
  margin-bottom: 46px;
}

.main__list{
  max-width: 400px;
}

.main__list-item{
  padding-block: 10px;
}

.main__list-item::marker{
  color: #61DAFB;
  font-size: 1.7rem;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}