
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: #23252C;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container{
  max-width: 400px;
  width: 100vw;
  background-color: #1A1B21;
  border-radius: 10px;
  overflow: hidden;
}

main{
  padding: 21px 35px;
}

.card__info{
  margin-bottom: 15px;
}

.card__img{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.card__info-name{
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-top: 0;
  margin-bottom: 6px;
}

.card__info-position{
  color: #F3BF99;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
}

.contact{
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 33px;
}

.contact__button{
  padding: 10px;
  max-width: 155px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  gap: 10px;
  color: black;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.contact__button > span img{
  fill: black;
  width: 20px;
}

.contact__button--blue{
  color: white;
  background-color: #5093E2;
}

.contact__button > span{
  fill: white;
}

.about, .interests{
  text-align: left;
  color: white;
  margin-bottom: 27px;
}

.about__title, .interests__title{
  font-size: 20px;
  font-weight: 700;
}

.about__text, .interests__text{
  color: #DCDCDC;
  font-weight: 400;
  line-height: 150%;
}


footer{
  background-color: #161619;
  padding: 20px;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.social__item > a img{
  width: 40px;
}